#banner {
    background-image: url(./images/pattern.jpeg.png);
    background-size: cover;
    background-position: bottom center;
    height: 150px;
    width: 100%;
  }
  
  #banner .content h1 {
    border: 3px solid white;
    position: relative;
    top: 50px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-family: Helvtica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
  }